.App-main-div {
    margin-left: 100px;
    margin-right: 100px;
}

.App-flex-container {
    display: flex; /* or inline-flex */
  }

  .App-flex-item {
    flex-grow: 1;

    margin-right:20px;
  }

  .App-flex-item:last-child {

    margin-right:0px;
  }